.block-container {
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* .stAppHeader {
    border: 2px solid rgb(111, 0, 255);
} */

/* .stAppToolbar {
    border: 1px solid black;
} */